.chatBodyWrapper {
    width: 100%;
}

.chatBody {
    min-width: 95%;
    height: 70vh;
    overflow: auto;
}

:global(.ui.comments) {
    margin: auto !important;
}

:global(.grid).messagesGrid {
    margin: 0;
}

.messagesDelimiter {
    color: #f7a232;
}
